/* --------------- Copyright --------------- */

.follow-icon {
    padding: 0 15px;
    color: #1b87e2;
}

.follow-icon i:hover {
    color: white;
}


/* ---------------- End --------------- */


/* ------------------- Alphabet Class --------------- */

.alpha-letter {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    cursor: pointer;
}

.alpha-letter:hover {
    color: white;
    text-decoration: underline !important;
}


/* ------------------- End Alphabet Class --------------- */


/* ---------------------  Tree ----------------- */

.forest-tree {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
}

.pos-relative {
    position: relative;
}

.follow-text,
.right-reserved {
    font-size: 14px !important;
}


/* --------------------- End Tree ----------------- */

.adapt-foot-logo {
    width: 135px;
}

@media only screen and (max-width: 767px) {
    .adapt-foot-logo {
        width: 90px !important;
    }
    .right-reserved,
    .follow-text {
        font-size: 12px !important;
    }
    .follow-icon {
        padding: 0 5px !important;
    }
}