/* --------------- Copyright --------------- */

.follow-icon {
    padding: 0 15px;
    color: #1b87e2;
}

.follow-icon i:hover {
  color: white;
}


/* ---------------- End --------------- */


/* ------------------- Alphabet Class --------------- */

.alpha-letter {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    cursor: pointer;
}

.alpha-letter:hover {
    color: white;
    text-decoration: underline !important;
}
/* ------------------- End Alphabet Class --------------- */


/* ---------------------  Tree ----------------- */

.forest-tree {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
}

.pos-relative {
    position: relative;
}


/* --------------------- End Tree ----------------- */
