/* --------------- Copyright --------------- */

.follow-icon {
    padding: 0 20px;
}


/* ---------------- End --------------- */


/* ------------------- Alphabet Class --------------- */

.alpha-letter {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    cursor: pointer;
}


/* ------------------- End Alphabet Class --------------- */