<div class="container p-t-5 p-b-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h4><strong>Integration Partners</strong></h4>
            <p class="text-justify text-l-grey">Integrates with all websites making it easy to find contacts where you need them. The Adapt community of 100,000+ users contribute millions of quality contacts. Advanced filters & Confidence Scores build powerful prospecting lists in seconds.
                Our AI cleans and confirms more than 1,000,000 records per day!</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <div class="row">
                <div class="col-4 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center align-self-center pt-2 pb-2">
                    <img src="assets/img/salesforce.png" alt="" class="client-img">
                </div>
                <div class="col-4 col-sm-6 col-md-4 col-lg-4 col-xl-4  text-center align-self-center pt-2 pb-2">
                    <img src="assets/img/zoho.png" alt="" class="client-img">
                </div>
                <div class="col-4 col-sm-6 col-md-4 col-lg-4 col-xl-4  text-center align-self-center pt-2 pb-2">
                    <img src="assets/img/pipedrive.png" alt="" class="client-img">
                </div>
                <div class="col text-center align-self-center pt-2 pb-2">
                    <img src="assets/img/freshsales.png" alt="" class="client-img">
                </div>
                <div class="col text-center align-self-center pt-2 pb-2">
                    <img src="assets/img/HubSpot.png" alt="" class="client-img">
                </div>
            </div>
        </div>
    </div>
</div>