<div class="container">
    <img src="assets/img/adapt-ing.png" alt="img" class="lizard-img">
    <div class="row pt-5 pb-5">
        <div class="col-12 col-sm-12 col-md-10 offset-md-2 col-lg-8 offset-lg-4">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-5" *ngFor="let item of about_data">
                    <div class="media">
                        <img class="align-self-top mr-3" src="{{item.icon}}" alt="image">
                        <div class="media-body">
                            <h5 class="mt-0">{{item.title}}</h5>
                            <p class="text-l-grey">{{item.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- style="background-image:url('./assets/img/adapt-ing.png');" -->
