/* ------------------- Navbar ------------------ */

.active>.nav-link {
    color: white !important;
    background: #1b87e2 !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 5px !important;
}

a {
    color: white !important;
}

.m-r-4 {
    margin-right: 1.5rem !important;
}

.head-title {
    color: white;
    font-family: 'Light-font' !important;
}

@media only screen and (min-width: 320px) {
    .head-title {
        font-size: 19pt !important;
    }
}

@media only screen and (min-width: 400px) {
    .head-title {
        font-size: 25pt !important;
    }
}

@media only screen and (min-width: 576px) {
    .head-title {
        font-size: 17pt !important;
    }
}

@media only screen and (min-width: 768px) {
    .head-title {
        font-size: 23pt !important;
    }
}

@media only screen and (min-width: 1200px) {
    .head-title {
        font-size: 36pt !important;
    }
}

@media only screen and (max-width: 575px) {
    .img-adapt {
        display: none !important
    }
}

.btn {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

@media only screen and (max-width: 767px) {
    .m-r-4 {
        margin-right: .75rem !important;
    }
    .btn {
        padding: .25rem .5rem !important;
        font-size: .875rem !important;
        line-height: 1.5 !important;
        border-radius: .2rem !important;
    }
}


/* ----------------- menu --------------------- */

.navbar-light .navbar-toggler {
    color: #6c767b !important;
    border-color: #6c767b !important;
}


/*---------------------------------------------------*/

.breadcrumb {
    padding: 0px;
    background: #22282a;
    list-style: none;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    padding-left: 90px !important;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li.active a {
    background: #2a3134;
    line-height: 23px !important;
}

.breadcrumb li.completed a {
    background: #22282a;
    background: #22282a;
}

.breadcrumb li.last-one a {
    background: #6c767b;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #2a3134;
}

.breadcrumb li.completed a:after {
    border-left: 30px solid #22282a;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid grey;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid grey;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:last-child a:after {
    border: none !important;
}

.breadcrumb li:last-child a:before {
    border: none !important;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li:last-child a {
    line-height: 40px;
}


/* ------------ */

.bg-breadcrumb {
    display: block;
}

@media only screen and (max-width: 575px) {
    .bg-breadcrumb {
        display: none !important;
    }
}

.media {
    padding: 15px !important;
}

.w-50 {
    width: 50px !important;
}

.btn-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 239, 183, 0.25) !important;
}

.btn-grey:focus {
    box-shadow: 0 0 0 0.2rem rgba(180, 181, 181, 0.25) !important;
}


/* -------------- media ----------------- */

@media only screen and (max-width: 575px) {
    .logo-brand {
        width: 50px !important;
        height: 15px !important;
    }
}

@media only screen and (min-width: 576px) {
    .logo-brand {
        width: 70px !important;
        height: 25px !important;
    }
    .breadcrumb {
        padding-left: 70px !important;
    }
}

@media only screen and (min-width: 768px) {
    .breadcrumb {
        padding-left: 70px !important;
    }
}

@media only screen and (min-width: 992px) {
    .breadcrumb {
        padding-left: 90px !important;
    }
}