/* ------------------- Navbar ------------------ */

.active>.nav-link {
    color: white !important;
    background: #1b87e2 !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

a {
  color: white !important;
}

.head-title {
  font-size: 36pt;
  color: white;
  font-family: 'Light-font' !important;
}
/*---------------------------------------------------*/
