<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" *ngFor="let item of testimonail">
            <div class="test-card">
                <img src="{{item.img}}" alt="user" class="test-user">
                <div class="test-content">
                    <h6 class="text-center m-0">{{item.name}}</h6>
                    <p class="text-center test-desg mt-1 mb-1">{{item.role}}</p>
                    <img src="assets/img/quote.png" alt="quotes" class="pt-3 pb-3" />
                    <p class="text-justify test-desc">{{item.description}}</p>
                </div>
                <img src="{{item.leaf}}" alt="Leaf" class="test-leaf">
            </div>
        </div>
    </div>
</div>