/*---------------- Oval ----------------*/

.oval-circle {
    height: 50px;
    width: 50px;
    border-top-right-radius: 100px 80px;
    border-top-left-radius: 70px 70px;
    border-bottom-right-radius: 70px 90px;
    border-bottom-left-radius: 100px 90px;
}


/* ----------------- End ------------------- */

.test-card {
    background: #eef7e9;
    position: relative;
}

.test-user {
    // background-color: #cccccc;
    position: absolute;
    top: -40px;
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    width: 80px;
}

.test-leaf {
    position: absolute;
    bottom: 0;
    right: 0;
}

.test-content {
    position: relative;
    top: 50px;
    padding: 0 50px 50px 50px;
}

.test-desg {
    color: #b2bfad;
}

.quotes {
    color: #c5e5b6;
}

.test-desc {
    color: #85957e;
}


/* ------------------ Media Queries --------------- */

@media only screen and (min-width: 320px) {
    .test-card {
        height: 350px;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .test-user {
        width: 60px;
        top: -25px;
    }
    .test-content {
        top: 40px;
        padding: 0 10px 10px 10px;
    }
}

@media only screen and (min-width: 420px) {
    .test-card {
        height: 310px;
    }
    .test-content {
        top: 40px;
        padding: 0 25px 25px 25px;
    }
}

@media only screen and (min-width: 576px) {
    .test-card {
        height: 310px;
    }
    .test-content {
        top: 40px;
        padding: 0 40px 40px 40px;
    }
}

@media only screen and (min-width: 768px) {
    .test-card {
        height: 400px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .test-content {
        top: 40px;
        padding: 0 10px 10px 10px;
    }
}

@media only screen and (min-width: 992px) {
    .test-card {
        height: 400px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .test-user {
        width: 80px;
        top: -40px;
    }
    .test-content {
        top: 50px;
        padding: 0 20px 20px 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .test-content {
        padding: 0 40px 40px 40px;
    }
}