/* ----------- Bootstrap ------------ */

@import "~bootstrap/dist/css/bootstrap.min.css";

/* ------------- Font-awesome ------------ */

@import "~font-awesome/css/font-awesome.min.css";

/* --------- Global Styles -------- */

@font-face {
    font-family: 'Regular-font';
    src: url('/font/oswald.regular.ttf');
}

@font-face {
    font-family: 'Medium-font';
    src: url('./assets/font/geomanist/hinted-Geomanist-Medium.ttf');
}

@font-face {
    font-family: 'Light-font';
    src: url('./assets/font/geomanist/hinted-Geomanist-Light.ttf');
}

.pointer {
    cursor: pointer;
}

.max-w-100 {
    max-width: 100% !important;
}

h1 {
    font-family: 'Light-font' !important;
}

h5 {
    font-family: 'Medium-font' !important;
}

.m-0 {
    margin: 0 !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-none {
    font-weight: unset !important;
}


/* -------------------------------------- */

.bg-d-grey {
    background: #22282a !important;
}

.bg-l-grey {
    background: #2a3134 !important;
}

.text-white {
    color: white !important;
}

.bg-dark {
    background-color: #293033 !important;
}

.nav-bg-dark {
    background: #293033 !important;
}

.text-green {
    color: #8bcc6e !important;
}

.text-d-green {
    color: #4c703c !important;
}

.bg-green {
    background: #8bcc6e !important;
}

.bg-grey {
    background: #586266 !important;
}

.text-grey {
    color: #586266 !important;
}

.text-l-grey {
    color: #6c767b !important;
}

.text-blue {
    color: #1b87e2 !important;
}

.bg-blue {
    background: #1b87e2 !important;
}


/* -------------------------------------- */

p,
a {
    font-family: "Open Sans" !important;
    font-size: 14px;
}

.p-t-4 {
    padding-top: 1.5rem;
}

.p-b-4 {
    padding-bottom: 1.5rem;
}

.p-t-5 {
    padding-top: 3rem;
}

.p-b-5 {
    padding-bottom: 3rem;
}

.p-r-5 {
    padding-right: 3rem;
}

@media only screen and (max-width: 991px) {
    p,
    a {
        font-size: 13px !important;
    }
    h5 {
        font-size: 1.125rem !important;
        margin-bottom: 5px !important;
    }
    .p-t-4 {
        padding-top: .75rem!important;
    }
    .p-b-4 {
        padding-bottom: .75rem!important;
    }
    .p-t-5 {
        padding-top: 1.5rem!important;
    }
    .p-b-5 {
        padding-bottom: 1.5rem!important;
    }
    .p-r-5 {
        padding-right: 1.5rem !important;
    }
}


/*---------------------------------------------------*/